.wrapper
  .content
    #introText Введите Waves адрес
    .searchData
      input(type="text", #addressInput="", id="searchDataInp" placeholder="Waves адрес" value='3PAYW61WKGU1PJcn8m9EdDEEgbabsi5DGgw')
      button(type="button", class="blick_btn", [disabled]="clicked", (click)="getDataByAddress(addressInput)") Стартуем!
    #address
    #goal([innerHtml]="htmlToAdd")
  .filter(#filter="")
      #search
        .searchData
          .cross
            svg(width="12" height="12")
              path(d="M0 0 L 12 12 M12 0 L 0 12" stroke="black" stroke-width="2")
          input(type="text" id="searchDataInp" class='inspectInput' placeholder="Данные для поиска")
          button(type="button" class="blick_btn inspectBtn") Искать
          button(type="button" class="blick_btn" id='additionalMenu')
            .burg
            .burg
            .burg
      .buttons-form
        #buttons
          button(type="button" class='button' id='balance', #balance="", (click)="test(balance)")
            span(class='bal-btn') Account balance
            svg(class='svg_button')
              rect(class='rect_button')
          button(type="button" class='button clickMe' id='all', #all="", (click)="test(all)")
            span(class='all-btn') All
            svg(class='svg_button')
              rect(class='rect_button')
          button(type="button" class='button clickMe' id='deposit', #deposit="", (click)="test(deposit)")
            span(class='dep-btn') Deposit
            svg(class='svg_button')
              rect(class='rect_button')
          button(type="button" class='button clickMe' id='send', #send="", (click)="test(send)")
            span(class='send-btn') Withdraw
            svg(class='svg_button')
              rect(class='rect_button')
          button(type="button" class='button clickMe' id='7', #id7="", (click)="test(id7)")
            span(class='exch-btn') Trading
            svg(class='svg_button')
              rect(class='rect_button')
          button(type="button" class='button clickMe' id='8', #id8="", (click)="test(id8)")
            span(class='leasing-btn') Leasing
            svg(class='svg_button')
              rect(class='rect_button')
          button(type="button" class='button clickMe' id='9', #id9="", (click)="test(id9)")
            span(class='cancLeas-btn') Canceled leasing
            svg(class='svg_button')
              rect(class='rect_button')
          button(type="button" class='button clickMe' id='massSend', #massSend="", (click)="test(massSend)")
            span(class='massSend-btn') Mass withdrawing
            svg(class='svg_button')
              rect(class='rect_button')
          button(type="button" class='button clickMe' id='massReceiv', #balance="", (click)="test(balance)")
            span(class='massReceive-btn') Mass depositing
            svg(class='svg_button')
              rect(class='rect_button')
          button(type="button" class='button clickMe' id='3', #id3="", (click)="test(id3)")
            span(class='assetCreation-btn') Asset creation
            svg(class='svg_button')
              rect(class='rect_button')
          button(type="button" class='button clickMe' id='5', #id5="", (click)="test(id5)")
            span(class='assetReissue-btn') Asset reissuing
            svg(class='svg_button')
              rect(class='rect_button')
          button(type="button" class='button clickMe' id='6', #id6="", (click)="test(id6)")
            span(class='burn-btn') Asset burning
            svg(class='svg_button')
              rect(class='rect_button')
          button(type="button" class='button clickMe' id='10', #id10="", (click)="test(id10)")
            span(class='alias-btn') Alias cretion
            svg(class='svg_button')
              rect(class='rect_button')
          button(type="button" class='button clickMe' id='12', #id12="", (click)="test(id12)")
            span(class='data-btn') Data transaction
            svg(class='svg_button')
              rect(class='rect_button')
          button(type="button" class='button clickMe' id='13', #id13="", (click)="test(id13)")
            span(class='script-btn') Script transaction
            svg(class='svg_button')
              rect(class='rect_button')
          button(type="button" class='button clickMe' id='15', #id15="", (click)="test(id15)")
            span(class='assetScript-btn') Asset script
            svg(class='svg_button')
              rect(class='rect_button')
          button(type="button" class='button clickMe' id='14', #id14="", (click)="test(id14)")
            span(class='sponsor-btn') Sponsorship
            svg(class='svg_button')
              rect(class='rect_button')
          button(type="button" class='button clickMe' id='16', #id16="", (click)="test(id16)")
            span(class='scriptCall-btn') Invoke script
            svg(class='svg_button')
              rect(class='rect_button')
          button(type="button" class='button clickMe' id='else', #idElse="", (click)="test(idElse)")
            span(class='else-btn') Else
            svg(class='svg_button')
              rect(class='rect_button')
        .extract
          button(type="button" class="extractMe blick_btn" id='csvAll', #balance="", (click)="test(balance)") Экспорт всех транзакци
          button(type="button" class="extractMe blick_btn" id='csvDeposit', #balance="", (click)="test(balance)") Экспорт вводо
          button(type="button" class="extractMe blick_btn" id='csvWithdrawal', #balance="", (click)="test(balance)") Экспорт выводо
          button(type="button" class="extractMe blick_btn" id='csvEx', #balance="", (click)="test(balance)") Экспорт обмено

script(src="index.js")

script.
  $('.content').scroll(function() {
      if ($('.content').scrollTop() > 100) {
          if ($('#upbutton').is(':hidden')) {
              $('#upbutton').css({opacity : 0.8}).fadeIn('slow');
          }
      } else { $('#upbutton').stop(true, false).fadeOut('fast'); }
  });
  $('#upbutton').click(function() {
      $('.content').stop().animate({scrollTop : 0}, 500);
  });
